

h1, h2, h3, h4 {
  text-align: center;
  padding-top: 10px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

html, body {
  height: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

/*
.bg-img {
  background: url("./images/main_background_art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
}
*/

.bodySectionContainer {
  padding: 10px;
  height: 69vh;
  overflow: auto;
  background-color: rgb(245, 235, 225);
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.header, .footer {
  background: url("./images/main_background_art.jpg") no-repeat 100% center;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.header {
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer {
  height: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.header h1, .footer h1, .footer h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  background: #f9b713;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.header h1 {
  line-height: 35px;
}

.footer h1 {
  line-height: 25px;
}

.footer h4 {
  font-size: 15px;
}

.portfolioSection {
  color: white;
  background-color: rgb(97, 65, 43);
  margin-top: 50px;
  padding-bottom: 7px;
  margin-left: 5%;
  margin-right: 5%;
}

.portfolioHeading {
  color: white;
  background-color: purple;
  margin-top: 50px;
  padding-bottom: 7px;
  margin-left: 15%;
  margin-right: 15%;
}

.portfolioImg {
  border: 10px double rgb(245, 235, 225);
  border-radius: 5px;
}
.portfolioImg:hover {
  border: 10px double #f9b713;
  border-radius: 5px;
}

.pCenter {
  text-align: center;
}

.linkSpan {
  text-decoration: underline;
  cursor: pointer;
}

a:visited, a:link {
  color: black;
}

.contactComment {
  resize: none;
  width: 80%;
  height: 300px;
  overflow: auto;
  vertical-align: top;
  padding: 10px;
  border-color: orange;
}

.contactFormInputField {
  margin-top: 5px;
  margin-bottom: 5px;
}

#statusMessageDisplayField, #statusCodeDisplayField {
  background-color: rgb(245, 235, 225);
  border: none;
}  

.contactFormStatusText {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

button:active {
  color: white;
  font-weight: bold;
  background-color: purple;
  border-radius: 5px;
}

.nav-tabs {
  background-color: gray;
}

.nav-item {
  color: black;
  background-color: gray;
  border: 1px solid purple;
  border-radius: 5px 5px 0px 0px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.nav-link {
  color: black;
  font-size: 1em;
  /*border: 1px solid purple;*/
}

.nav-link:visited {
  color: black;
}

.nav-link:hover {  /*  className = ".nav-link active" ? */
  color: yellow !important;  /* or purple */
  border-color: white;
}

.nav-link_active {
  color: white !important;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(52, 54, 56);
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px 5px 0px 0px;
}

