

h1, h2, h3, h4 {
  text-align: center;
  padding-top: 10px;
  /*color: white;*/
  /*background-color: rgba(0, 0, 0, 0.200);*/
}

html, body {

  height: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-family: "MS Comic Sans", Arial, Helvetica, "Lucida Sans", "Lucida Sans Regular", Geneva, Verdana, sans-serif

}

/*
.bg-img {
  background: url("./images/main_background_art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
}
*/

.bodySectionContainer {
  height: 60vh;
  overflow: auto;
  background-color: rgb(230, 233, 230);
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.header, .footer {
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("./images/main_background_art.jpg") no-repeat 100% center;
}

.header h1, .footer h1, .footer h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 50px;
  background: #f9b713;
}

.footer h4 {
  font-size: 15px;
}

.navbar2 {
  background: #6a1b9a;
  height: 60px;
}

.navbar2 a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 5px;
  line-height: 3;
}

.section2 {
  background: #f3e5f5;
  padding: 20px;
}

.section2 h2 {
  text-align: center;
}

.ui-container {
  border: 2px double purple;
  background-color: orange;
  padding: 15px;
}

.ui-container a {
  color: purple;
}

.pCenter {
  text-align: center;
}

.linkSpan {
  text-decoration: underline;
  cursor: pointer;
}

a:visited, a:link {
  color: black;
}

.contactComment {
  resize: none;
  width: 80%;
  height: 300px;
  overflow: auto;
  vertical-align: top;
}

