

h1, h2, h3, h4 {
  text-align: center;
  padding-top: 10px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

html, body {
  height: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

/*
.bg-img {
  background: url("./images/main_background_art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .75;
}
*/

.bodySectionContainer {
  height: 60vh;
  overflow: auto;
  background-color: rgb(245, 235, 225);
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.form {
  margin: 20px;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.header, .footer {
  height: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: url("./images/main_background_art.jpg") no-repeat 100% center;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.header h1, .footer h1, .footer h4 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 25px;
  line-height: 50px;
  background: #f9b713;
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

.footer h4 {
  font-size: 15px;
}

.portfolioHeading {
  color: white;
  background-color: purple;
  padding-bottom: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.pCenter {
  text-align: center;
}

.linkSpan {
  text-decoration: underline;
  cursor: pointer;
}

a:visited, a:link {
  color: black;
}

.contactComment {
  resize: none;
  width: 80%;
  height: 300px;
  overflow: auto;
  vertical-align: top;
}

.nav-item {
  font-family: "Comic Sans MS", Arial, Helvetica, Verdana, sans-serif;
}

